@page "/Mapa"
@namespace Tarea7.Pages


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>  
    <div id="mapid"> </div>

    <script>
        //PARA AGREGAR LA UBICACION INICIAL DEL MAPA
        var mymap = L.map('mapid').setView([18.47186, -69.89232], 8);

        //PARA AGREGAR EL MAPA
        L.tileLayer('http://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidXN1YXJpb3BhcmF0YXJlYSIsImEiOiJja21oNXl0bjIwMTQwMm5sZmVzMXVndjFlIn0.nfG_MJzF7nZznTEul_-XyQ'
        }).addTo(mymap);

        //PARA AGREGAR EL MARCADOR
        var marker = L.marker([18.48847, -69.85707]).addTo(mymap);

        //PARA AGREGAR LOS DATOS AL MARCADOR
        marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    </script>
</body>
</html>
