<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tarea7</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Insertar" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Registrar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ListaVacunados">
                <span class="oi oi-list" aria-hidden="true"></span> Lista de Vacunados
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Vacunados_Provincias">
                <span class="oi oi-list" aria-hidden="true"></span> Vacunados en Provincia
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Vacunados_Marca">
                <span class="oi oi-list" aria-hidden="true"></span> Vacunados por Marca
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Vacunados_Signo">
                <span class="oi oi-list" aria-hidden="true"></span> Vacunados por Signo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Eliminar">
                <span class="oi oi-trash" aria-hidden="true"></span> Eliminar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Mapa">
                <span class="oi oi-globe" aria-hidden="true"></span> Mapa
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
